
<div class="calc">
<form #myForm="ngForm" novalidate>
<input type="number" name="first" [(ngModel)]="calcForm.first" class="form-control" >
<br>
<br>
<input type="number" name="second" [(ngModel)]="calcForm.second" class="form-control" >
</form>
<p>Додати : {{add(calcForm.first,calcForm.second)}} </p>
<p>Відняти : {{remove(calcForm.first,calcForm.second)}}</p>
<p>Помножити : {{mul(calcForm.first,calcForm.second)}}</p>
<p>Поділити : {{div(calcForm.first,calcForm.second)}}</p>
</div>


<router-outlet></router-outlet>